django
django-filter
django-silk
django-crispy-forms
django-allauth
crispy-bootstrap5
Faker
whitenoise
gunicorn
python-dotenv
submit50
check50
psycopg2-binary
dj-database-url
style50
sentry-sdk
django-prometheus
django-debug-toolbar