{% extends 'tasks/base.html' %}

{% block title %} Home {% endblock %}

{% block content  %}
  


<div class="min-vh-100">
  <div class="d-flex justify-content-center align-items-center p-4">
  <h1 >To Do List: </h1>
  </div>
  <hr>
  <div class="table-resonsive">
    <table class="table table-bordered table-striped table-hover align-middle">
    <thead class="text-center ">
      <th class="bg-secondary text-white">
        Task
      </th>
      <th class="bg-secondary text-white">
        Priority
      </th>
      <th class="bg-secondary text-white">
        Status
      </th>
      <th class="bg-secondary text-white">
        Description
      </th>
      <th class="bg-secondary text-white">
        Date Recorder
      </th> 
      <th class="bg-secondary text-white">
        Edit
      </th>  
      <th class="bg-secondary text-white">
        Delete
      </th>    
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{task.task}}</td>
         <td>{{task.priority}}</td>
         <td>{{task.status}}</td>
         <td>{{task.description|slice:":40"}} ...</td>
         <td>{{task.date_added}}</td>
         <td>
          <button class="btn btn-outline-info "><a href="{% url 'edit_task' task.id %}">Edit</a></button>
         </td>
         <td>
          <button class="btn btn-danger"><a href="{% url 'delete_task' task.id %}" class="text-white">Delete</a></button>
         </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  </div>

</div>

{% endblock %}

{% block footer %}
{% endblock %}